fieldset {
  border-radius: 6px;
  border-color: black;
  border-width: thin;
  font-family: sans-serif;
}

.canvas {
  float: left
}
.parameters{
  float: right;
  margin: 20px;
}

#webgl {
  width: 800px;
  height: 800px;
}
